#tag-cloud {
  .tag-cloud-title {
    color: $color-meta;
      
    @media (prefers-color-scheme: dark) {
      color: $color-dark-meta;
    }
  }
  .tag-cloud-tags {
    clear: both;
    text-align: center;
    a {
      display: inline-block;
      margin: 10px;
    }
  }
}